{
  "identities": [
    {
      "name": "admin",
      "credentials": [
        {
          "accessKey": "changeme_access_key",
          "secretKey": "changeme_secret_key"
        }
      ],
      "actions": [
        "Admin",
        "Read",
        "Write"
      ]
    }
  ]
}
