services:
  n8n:
    image: n8nio/n8n:latest
    restart: always
    ports:
      - 5678:5678
    environment:
      - N8N_HOST=n8n.jeerasakananta.dev
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - NODE_ENV=production
      - WEBHOOK_URL=https://n8n.jeerasakananta.dev
      # Sets n8n internal logic (Schedules, Cron, etc.) to Thailand time
      - GENERIC_TIMEZONE=Asia/Bangkok
      # Sets the container system time
      - TZ=Asia/Bangkok
    volumes:
      - n8n_data:/home/node/.n8n
      # Optional: Syncs container time with your host machine
      - /etc/localtime:/etc/localtime:ro
volumes:
  n8n_data:
    external: false
networks: {}
