services:
  uptime-kuma:
    image: louislam/uptime-kuma:nightly2
    container_name: uptime-kuma
    restart: unless-stopped
    ports:
      - 3001:3001
    volumes:
      - ./:/app/data
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - homelab
networks:
  homelab:
    name: homelab
    driver: bridge
x-dockge:
  urls:
    - https://kuma.jeerasakananta.dev
