services:
  glance:
    container_name: glance
    image: glanceapp/glance:v0.8.4
    restart: unless-stopped
    ports:
      - 8000:8080
    environment:
      - TZ=Asia/Bangkok
    volumes:
      - ./config:/app/config
      - ./assets:/app/assets
      - /var/run/docker.sock:/var/run/docker.sock:ro
networks:
  homelab:
    driver: bridge
