services:
  dockge:
    image: louislam/dockge:1
    restart: unless-stopped
    ports:
      - 5001:5001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/app/data
      # Stacks Directory
      # ⚠️ IMPORTANT: host path and container path MUST be the same
      # to avoid directory issues with relative paths in your stacks.
      - /opt/stacks:/opt/stacks
    environment:
      # Tell Dockge where to find your stacks
      - DOCKGE_STACKS_DIR=/opt/stacks
